/*Variables*/

$titulo-color: rgb(0, 0, 0);
$titulo-blanco: white;
$texto-color: rgb(112, 112, 112);
$fondo-claro:#979A9D;
$fondo-gris: #f0f0f0;
$fondo-oscuro: #555657;
$fondo-footer:#3f4041;
$color-rrss: black;
$color-rrss-clara: rgb(255, 255, 255);