/*Variables*/

$titulo-grande: normal 74px/1.0 'Maitree', serif;
$titulo-mediano: 40px/1'Maitree', serif;
$texto-grande: 25px/1.8 'Maitree', serif;
$texto-normal: 16px/1.7 'Maitree', serif;
$detalle-portfolio:14px/1'Maitree', serif;
$titulo-detalle:26px/1'Maitree', serif;