@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,400;1,900&family=Maitree:wght@200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "tipografias";
@import "colores";

/* font-family: 'Lato', sans-serif; */
/* font-family: 'Maitree', serif; */
/* font-family: 'Open Sans', sans-serif; */

/*Variables*/

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.navbar-brand{
        img{
            width: 130px;
        }
}
.navbar{
    padding: 35px;
    font-family: 'Maitree', serif;
    font-size: 14px;
    font-weight: 400;
    .navbar-nav{
        margin-left: 60px;
            .nav-item{
                padding-right: 20px;
            }
    }
    .rrss{
        font-size: 17px;
        color: $texto-color;
        letter-spacing: 8px;
            i{
                color: $color-rrss;
            }
        }
}

#introslide{
    padding-left: 170px;
        h1{
            font: $titulo-grande;
            color: $titulo-color;
            font-weight: 200;
            padding: 100px 100px 30px 0;
            letter-spacing: 2px;
        }
        p{
            width: 40%;
            font: $texto-normal;
            color: $texto-color;
            font-weight: 300;
            padding-left: 0;
        }
        #margenport{
            margin-bottom: 200px;
        }
}
.slide{
    background-color: $fondo-gris;
    margin-top: 100px;
    padding-bottom: 100px;
        .carrusel{
            padding-left: 170px;
                .carousel-inner{
                    width: 100%;
                    height: 670px;
                }
        }
        .estudio{
            width: 60%;
            padding-left: 190px;
                p{
                    font: $texto-grande;
                    color: #212529;
                    font-weight: 300;
                    padding-bottom: 70px;
                }
                h2{
                    font: $titulo-mediano;
                    color: $titulo-color;
                    font-weight: 300;
                    letter-spacing: 1px;
                    padding-bottom: 100px;
                }
    }
}
#estudiocontacto{
        p{
            font: $texto-grande;
            font-size: 18px;
            color: #212529;
            font-weight: 300;
            padding-bottom: 70px;
        }
        h2{
            font: $titulo-mediano;
            color: $titulo-color;
            font-weight: 300;
            letter-spacing: 1px;
            padding-bottom: 30px;
        }
}

.formulario{
    padding-left: 190px;
    width: 800px;
        input{
            background-color: #f0f0f0;
            border: 0px;
            border-radius: 0px;
            border-bottom: solid 1px #212529;
            margin-bottom: 45px;
            font-family: 'Maitree', serif;
        }
        button{
            background-color: #212529;
            color: white;
            border: 0px;
            padding: 12px 35px 12px 35px;
            font: $titulo-mediano;
            font-size: 18px;
        }
}
#estudioservicios{
    width: 90%;
    padding-left: 190px;
        p{
            font: $texto-grande;
            color: #212529;
            font-weight: 300;
            padding-bottom: 70px;
            padding-left: 200px;
            width: 70%;
        }
        h2{
            font: $titulo-mediano;
            font-size: 45px;
            color: $titulo-color;
            font-weight: 300;
            letter-spacing: 1px;
            padding-bottom: 100px;
        }
}

#tips{
    text-align: center;
    padding-left: 170px;
    margin-top: 100px;
    margin-bottom: 110px;
        i{
            font-size: 30px;
            text-align: center;
            padding-bottom: 50px;
        }
        h3{
            font: $titulo-mediano;
            font-size: 28px;
            text-align: center;
        }
}
#portfolio{
    padding-left: 170px;
    margin-top: -100px;
    .trabajos{
        margin-bottom: 80px;
        padding: 0;
        p{
            font:$detalle-portfolio;
        }
        h3{
            font:$titulo-detalle;
            color: $titulo-color;
            font-weight: 300;
        }
        .img#img1{
            height: 400px;
            background-image: url(../img/webtquilla1-1.jpg);
            background-size: cover;
            background-position: center;
            margin-bottom: 25px;
        }
        .img#img2{
            height: 400px;
            background-image: url(../img/1.jpg);
            background-size: cover;
            background-position: center;
            margin-bottom: 25px;
        }
        .img#img3{
            height: 400px;
            background-image: url(../img/Abisal.png);
            background-size: cover;
            background-position: center;
            margin-bottom: 25px;
        }
        .img#img4{
            height: 400px;
            background-image: url(../img/Iphone_creedence.jpg);
            background-size: cover;
            background-position: center;
            margin-bottom: 25px;
        }
        .img#img5{
            height: 400px;
            background-image: url(../img/IRA.png);
            background-size: cover;
            background-position: center;
            margin-bottom: 25px;
        }
        .img#img6{
            height: 400px;
            background-image: url(../img/Noble-alerce-2.png);
            background-size: cover;
            background-position: center;
            margin-bottom: 25px;
        }
    }
}
.introservice{
    background-color: $fondo-claro;
    padding: 100px 0 200px 190px;
        h2{
            font: $titulo-mediano;
            color: $titulo-blanco;
            font-weight: 300;
        }
        p{
            font: $texto-normal;
            color: $titulo-blanco;
            width: 50%;
            padding-top: 25px;
        }
}

#intro{
    margin-top: -90px;
    padding-left: 170px;
    padding-bottom: 150px;
}
.servicios{
    padding: 0;
    h3{
        font: $titulo-detalle;
        font-weight: 300;
        padding-bottom: 25px;
    }
    p{
        font: $texto-normal;
        color: $texto-color;
        width: 80%;
    }
}

.diseño-serv,
.landing-serv,
.packaging-serv,
.web-serv {
    height: 400px;
    margin-bottom: 25px;
}

@each $servicios in diseño , landing , packaging , web {
    .#{$servicios}-serv {
        background-image: url("../img/servicios/#{$servicios}.jpg");
        background-size: cover;
        background-position: center;
    }
}
.clientes{
        #titulologo{
            margin-left: 170px;
            background-color: $fondo-gris;
            padding: 100px;
                h2{
                    font: $titulo-mediano;
                    color: $texto-color;
                    font-weight: 300;
                }
                .logos{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                        .marcas{
                            padding-right: 80px;
                            padding-bottom: 40px;
                            padding-top: 80px;
                                img{
                                    width: 120px;
                                }
                        }
                }
        }
}

.footer{
    margin-left: 170px;
    background-color: $fondo-oscuro;
    padding: 100px;
        h3{
            font: $titulo-mediano;
            color: $titulo-blanco;
            font-weight: 300;
        }
        p{
            font: $texto-normal;
            color: $titulo-blanco;
            font-weight: 300;
            width:60%;
            padding-top: 30px;
        }
        ul{
            color: $titulo-blanco;
            font: $texto-normal;
        }
}
.all{
    background-color: $fondo-footer;
    padding: 45px 100px 25px 100px;
    display: flex;
        p{
            font: $texto-normal;
            color: $titulo-blanco;
            font-weight: 300;
        }
        .redessociales{
            font-size: 17px;
            color: $texto-color;
            letter-spacing: 8px;
            text-align: right;
        }
            i{
                color: $color-rrss-clara;
            }
}
#maps{
    margin-bottom: 100px;
}

/* Resolucion 490px */

@media (max-width: 490px){
    *{
        padding: 0;
        margin:0;
        box-sizing: border-box;
    }
    
    .navbar-brand{
            img{
                width: 80px;
            }
    }
    .navbar{
        padding: 20px;
        font-family: 'Maitree', serif;
        font-size: 14px;
        font-weight: 400;
        .navbar-nav{
            margin-left: 20px;
                .nav-item{
                    padding-right: 20px;
                }
        }
        .rrss{
            display: none;
            font-size: 17px;
            color: $texto-color;
            letter-spacing: 8px;
                i{
                    color: $color-rrss;
                }
            }
    }
    
    #introslide{
        padding-left: 10px;
            h1{
                font: $titulo-grande;
                font-size: 28px;
                color: $titulo-color;
                font-weight: 200;
                padding: 50px 100px 30px 0;
                letter-spacing: 1px;
            }
            p{
                width: 70%;
                font: $texto-normal;
                font-size: 15px;
                color: $texto-color;
                font-weight: 300;
                padding-left: 0;
            }
            #margenport{
                margin-bottom: 400px;
            }
    }
    .slide{
        background-color: $fondo-gris;
        margin-top: 100px;
        padding-bottom: 100px;
            .carrusel{
                padding-left: 0px;
                    .carousel-inner{
                        width: 100%;
                        height: 350px;
                        background-position: center;
                        background-size: contain;
                    }
            }
            .estudio{
                width: 70%;
                padding-left: 30px;
                    p{
                        font: $texto-grande;
                        font-size: 20px;
                        color: #212529;
                        font-weight: 300;
                        padding-bottom: 70px;
                    }
                    h2{
                        font: $titulo-mediano;
                        color: $titulo-color;
                        font-weight: 300;
                        letter-spacing: 1px;
                        padding-bottom: 50px;
                    }
        }
    }
    #portfolio{
        padding: 35px;
        margin-top: -100px;
        .trabajos{
            margin-bottom: 80px;
            padding: 0;
            p{
                font:$detalle-portfolio;
            }
            h3{
                font:$titulo-detalle;
                color: $titulo-color;
                font-weight: 300;
            }
            .img#img1{
                height: 400px;
                background-image: url(../img/webtquilla1-1.jpg);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img2{
                height: 400px;
                background-image: url(../img/1.jpg);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img3{
                height: 400px;
                background-image: url(../img/Abisal.png);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img4{
                height: 400px;
                background-image: url(../img/Iphone_creedence.jpg);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img5{
                height: 400px;
                background-image: url(../img/IRA.png);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img6{
                height: 400px;
                background-image: url(../img/Noble-alerce-2.png);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
        }
    }
    .introservice{
        background-color: $fondo-claro;
        margin: 0px;
        padding: 100px 0 200px 35px;
            h2{
                font: $titulo-mediano;
                color: $titulo-blanco;
                font-weight: 300;
            }
            p{
                font: $texto-normal;
                color: $titulo-blanco;
                width: 70%;
                padding-top: 25px;
            }
    }
    #intro{
        padding-left: 0px;
        padding-bottom: 150px;
    }
    .servicios{
        padding: 35px;
        h3{
            font: $titulo-detalle;
            font-weight: 300;
            padding-bottom: 25px;
        }
        p{
            font: $texto-normal;
            color: $texto-color;
            width: 80%;
        }
    }
    
    .diseño-serv,
    .landing-serv,
    .packaging-serv,
    .web-serv {
        height: 400px;
        margin-bottom: 25px;
    }
    
    @each $servicios in diseño , landing , packaging , web {
        .#{$servicios}-serv {
            background-image: url("../img/servicios/#{$servicios}.jpg");
            background-size: cover;
            background-position: center;
        }
    }
    .clientes{
            #titulologo{
                margin-left: 0px;
                background-color: $fondo-gris;
                padding: 80px 35px 80px 35px;
                    h2{
                        font: $titulo-mediano;
                        color: $texto-color;
                        font-weight: 300;
                    }
                    .logos{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                            .marcas{
                                padding-right: 20px;
                                padding-bottom: 20px;
                                padding-top: 80px;
                                    img{
                                        width: 65px;
                                    }
                            }
                    }
            }
    }
    
    .footer{
        margin-left: 0px;
        background-color: $fondo-oscuro;
        padding: 80px 35px 80px 35px;
            h3{
                font: $titulo-mediano;
                color: $titulo-blanco;
                font-weight: 300;
            }
            p{
                font: $texto-normal;
                font-size: 15px;
                color: $titulo-blanco;
                font-weight: 300;
                width:80%;
                padding-top: 30px;
            }
            ul{
                color: $titulo-blanco;
                font: $texto-normal;
            }
    }
    .all{
        background-color: $fondo-footer;
        padding: 45px 0px 25px 25px;
        display: flex;
            p{
                font: $texto-normal;
                font-size: 12px;
                color: $titulo-blanco;
                font-weight: 300;
                text-align: left;
            }
            .redessociales{
                font-size: 12px;
                color: $texto-color;
                letter-spacing: 3px;
                text-align: right;
            }
                i{
                    color: $color-rrss-clara;
                }
    }
}

/* Resolucion 768px */

@media (max-width: 768px){
    *{
        padding: 0;
        margin:0;
        box-sizing: border-box;
    }
    
    .navbar-brand{
            img{
                width: 80px;
            }
    }
    .navbar{
        padding: 20px;
        font-family: 'Maitree', serif;
        font-size: 12px;
        font-weight: 400;
        .navbar-nav{
            margin-left: 5px;
                .nav-item{
                    padding-right: 10px;
                }
        }
        .rrss{
            display: none;
            font-size: 17px;
            color: $texto-color;
            letter-spacing: 8px;
                i{
                    color: $color-rrss;
                }
            }
    }
    
    #introslide{
        padding-left: 35px;
            h1{
                font: $titulo-grande;
                font-size: 38px;
                color: $titulo-color;
                font-weight: 200;
                padding: 50px 100px 30px 0;
                letter-spacing: 1px;
            }
            p{
                width: 70%;
                font: $texto-normal;
                font-size: 15px;
                color: $texto-color;
                font-weight: 300;
                padding-left: 0;
            }
            #margenport{
                margin-bottom: 200px;
            }
    }
    .slide{
        background-color: $fondo-gris;
        margin-top: 100px;
        padding-bottom: 100px;
            .carrusel{
                padding-left: 0px;
                    .carousel-inner{
                        width: 100%;
                        height: 350px;
                        background-position: center;
                        background-size: contain;
                    }
            }
            .estudio{
                width: 70%;
                padding-left: 30px;
                    p{
                        font: $texto-grande;
                        font-size: 20px;
                        color: #212529;
                        font-weight: 300;
                        padding-bottom: 70px;
                    }
                    h2{
                        font: $titulo-mediano;
                        color: $titulo-color;
                        font-weight: 300;
                        letter-spacing: 1px;
                        padding-bottom: 50px;
                    }
        }
    }
    #portfolio{
        padding: 35px;
        margin-top: -100px;
        .trabajos{
            margin-bottom: 80px;
            padding: 0;
            p{
                font:$detalle-portfolio;
            }
            h3{
                font:$titulo-detalle;
                font-size: 20px;
                color: $titulo-color;
                font-weight: 300;
            }
            .img#img1{
                height: 400px;
                background-image: url(../img/webtquilla1-1.jpg);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img2{
                height: 400px;
                background-image: url(../img/1.jpg);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img3{
                height: 400px;
                background-image: url(../img/Abisal.png);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img4{
                height: 400px;
                background-image: url(../img/Iphone_creedence.jpg);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img5{
                height: 400px;
                background-image: url(../img/IRA.png);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img6{
                height: 400px;
                background-image: url(../img/Noble-alerce-2.png);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
        }
    }
    .introservice{
        background-color: $fondo-claro;
        margin: 0px;
        padding: 100px 0 200px 35px;
            h2{
                font: $titulo-mediano;
                color: $titulo-blanco;
                font-weight: 300;
            }
            p{
                font: $texto-normal;
                color: $titulo-blanco;
                width: 70%;
                padding-top: 25px;
            }
    }
    #intro{
        padding-left: 0px;
        padding-bottom: 150px;
    }
    .servicios{
        padding: 0px;
        h3{
            font: $titulo-detalle;
            font-weight: 300;
            padding-bottom: 25px;
            padding-left: 35px;
        }
        p{
            font: $texto-normal;
            color: $texto-color;
            width: 80%;
            padding-left: 35px;
        }
        i{
            padding-left: 35px;
            padding-bottom: 45px;
        }
    }
    
    .diseño-serv,
    .landing-serv,
    .packaging-serv,
    .web-serv {
        margin-bottom: 25px;
    }
    
    @each $servicios in diseño , landing , packaging , web {
        .#{$servicios}-serv {
            background-image: url("../img/servicios/#{$servicios}.jpg");
            background-size: cover;
            background-position: center;
        }
    }
    .clientes{
            #titulologo{
                margin-left: 0px;
                background-color: $fondo-gris;
                padding: 80px 35px 80px 35px;
                    h2{
                        font: $titulo-mediano;
                        color: $texto-color;
                        font-weight: 300;
                    }
                    .logos{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                            .marcas{
                                padding-right: 30px;
                                padding-bottom: 20px;
                                padding-top: 80px;
                                    img{
                                        width: 85px;
                                    }
                            }
                    }
            }
    }
    
    .footer{
        margin-left: 0px;
        background-color: $fondo-oscuro;
        padding: 80px 35px 80px 35px;
            h3{
                font: $titulo-mediano;
                color: $titulo-blanco;
                font-weight: 300;
            }
            p{
                font: $texto-normal;
                font-size: 15px;
                color: $titulo-blanco;
                font-weight: 300;
                width:80%;
                padding-top: 30px;
            }
            ul{
                color: $titulo-blanco;
                font: $texto-normal;
            }
    }
    .all{
        background-color: $fondo-footer;
        padding: 45px 0px 25px 25px;
        display: flex;
            p{
                font: $texto-normal;
                font-size: 12px;
                color: $titulo-blanco;
                font-weight: 300;
                text-align: left;
            }
            .redessociales{
                font-size: 12px;
                color: $texto-color;
                letter-spacing: 3px;
                text-align: right;
            }
                i{
                    color: $color-rrss-clara;
                }
    }
}

/* Resolucion 1024px */

@media (max-width: 1024px){
    *{
        padding: 0;
        margin:0;
        box-sizing: border-box;
    }
    
    .navbar-brand{
            img{
                width: 120px;
            }
    }
    .navbar{
        padding: 35px;
        font-family: 'Maitree', serif;
        font-size: 14px;
        font-weight: 400;
        .navbar-nav{
            margin-left: 60px;
                .nav-item{
                    padding-right: 15px;
                }
        }
        .rrss{
            font-size: 15px;
            color: $texto-color;
            letter-spacing: 4px;
                i{
                    color: $color-rrss;
                }
            }
    }
    
    #introslide{
        padding-left: 50px;
            h1{
                font: $titulo-grande;
                font-size: 50px;
                color: $titulo-color;
                font-weight: 200;
                padding: 50px 60px 30px 0;
                letter-spacing: 1px;
            }
            p{
                width: 80%;
                font: $texto-normal;
                color: $texto-color;
                font-weight: 300;
                padding-left: 0;
            }
            #margenport{
                margin-bottom: 180px;
            }
    }
    .slide{
        background-color: $fondo-gris;
        margin-top: 100px;
        padding-bottom: 100px;
            .carrusel{
                padding-left: 00px;
                    .carousel-inner{
                        width: 100%;
                        height: 500px;
                    }
            }
            .estudio{
                width: 90%;
                padding-left: 50px;
                    p{
                        font: $texto-grande;
                        font-size: 18px;
                        color: #212529;
                        font-weight: 300;
                        padding-bottom: 70px;
                    }
                    h2{
                        font: $titulo-mediano;
                        color: $titulo-color;
                        font-weight: 300;
                        letter-spacing: 1px;
                        padding-bottom: 100px;
                    }
        }
    }
    #portfolio{
        padding-left: 30px;
        margin-top: -100px;
        .trabajos{
            margin-bottom: 80px;
            padding: 0;
            p{
                font:$detalle-portfolio;
            }
            h3{
                font:$titulo-detalle;
                color: $titulo-color;
                font-weight: 300;
            }
            .img#img1{
                height: 400px;
                background-image: url(../img/webtquilla1-1.jpg);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img2{
                height: 400px;
                background-image: url(../img/1.jpg);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img3{
                height: 400px;
                background-image: url(../img/Abisal.png);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img4{
                height: 400px;
                background-image: url(../img/Iphone_creedence.jpg);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img5{
                height: 400px;
                background-image: url(../img/IRA.png);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
            .img#img6{
                height: 400px;
                background-image: url(../img/Noble-alerce-2.png);
                background-size: cover;
                background-position: center;
                margin-bottom: 25px;
            }
        }
    }
    .introservice{
        background-color: $fondo-claro;
        padding: 100px 0 200px 50px;
            h2{
                font: $titulo-mediano;
                color: $titulo-blanco;
                font-weight: 300;
            }
            p{
                font: $texto-normal;
                color: $titulo-blanco;
                width: 80%;
                padding-top: 25px;
            }
    }
    
    #intro{
        margin-top: -90px;
        padding-left: 30px;
        padding-bottom: 50px;
    }
    .servicios{
        padding: 0;
        margin-bottom: 45px;
        h3{
            font: $titulo-detalle;
            font-weight: 300;
            padding-bottom: 25px;
        }
        p{
            font: $texto-normal;
            color: $texto-color;
            width: 80%;
        }
    }
    
    .diseño-serv,
    .landing-serv,
    .packaging-serv,
    .web-serv {
        height: 400px;
        margin-bottom: 25px;
    }
    
    @each $servicios in diseño , landing , packaging , web {
        .#{$servicios}-serv {
            background-image: url("../img/servicios/#{$servicios}.jpg");
            background-size: cover;
            background-position: center;
        }
    }
    .clientes{
            #titulologo{
                margin: 0 auto;
                background-color: $fondo-gris;
                padding: 50px;
                    h2{
                        font: $titulo-mediano;
                        color: $texto-color;
                        font-weight: 300;
                    }
                    .logos{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        align-content: center;
                            .marcas{
                                padding-right: 40px;
                                padding-bottom: 40px;
                                padding-top: 80px;
                                    img{
                                        width: 80px;
                                    }
                            }
                    }
            }
    }
    
    .footer{
        margin:0 auto;
        background-color: $fondo-oscuro;
        padding: 80px 50px 80px 50px;
            h3{
                font: $titulo-mediano;
                color: $titulo-blanco;
                font-weight: 300;
            }
            p{
                font: $texto-normal;
                color: $titulo-blanco;
                font-weight: 300;
                width:100%;
                padding-top: 30px;
            }
            ul{
                color: $titulo-blanco;
                font: $texto-normal;
            }
    }
    .all{
        background-color: $fondo-footer;
        padding: 45px 100px 25px 100px;
        display: flex;
            p{
                font: $texto-normal;
                font-size: 12px;
                color: $titulo-blanco;
                font-weight: 300;
            }
            .redessociales{
                display: none;
                font-size: 17px;
                color: $texto-color;
                letter-spacing: 8px;
                text-align: right;
            }
                i{
                    color: $color-rrss-clara;
                }
    }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding: 0px;
    padding-right: 0px;
    margin: 0px;
}
    